<div class="header">
  <a class="logo"></a>
  <a class="text"><h1>LaFLa IT</h1></a>
  <div class="header-center">
    <button routerLink="kapitoly">
      ÚVOD
    </button>
    <button routerLink="tezy" routerLinkActive="active-link">
      TÉZY
    </button>
    <button routerLink="tezy" routerLinkActive="active-link">
      TESTY
    </button>
    <button routerLink="login" class="button1">
      Prihlásenie
    </button>

    <button (click)="logout()">Odhlásiť</button>
  </div>
</div>
