<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<body>
  <div class="container">
    <div class="background">
      <form [formGroup]="form" (submit)="login()" >
        <h2>Prihlásenie</h2>
        <label>Prihlasovacie meno:
          <input formControlName="username">
        </label>

        <label>Heslo:
          <input formControlName="password">
        </label>

        <button type="submit">Prihlásiť sa</button>

    </form>
    </div>
  </div>
</body>
