*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;
}

.background {
  width: 20em;
  height: 30em;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

form {
  height: 27em;
  width: 30em;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 50px 35px;
}

form * {
  font-family: Arial, Helvetica, sans-serif;
  color: beige;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 300;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

button {
  margin-top: 2em;
  width: 100%;
  background-color: #FF595A;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #FF4742;
  color: beige;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  margin-top: 2em;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #a62e2b;
}

.message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 42px;
  text-align: center;
  background-color: #f8d7da;
  color: #721c24;
  padding: 12px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  margin-bottom: 16px;
}
