footer{
  bottom: 0;
  left: 0;
  right: 0;
  background: #001233;
  height: auto;
  width: 100vw;
  padding-top: 0;
  color: #fff;
  border-top: 0.1em solid beige;
  border-radius: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 2.1rem;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 0.2rem;
  color: #FF595A;
}

.footer-content p{
  max-width: 250px;
  margin: 2px auto;
  line-height: 25px;
  font-size: 14px;
  color: #cacdd2;
}


.footer-bottom{
  background: #FF595A;
  width: 100vw;
  padding: 20px;
  border-top: 0.1em solid beige;
  text-align: justify;
}

.footer-bottom p{
  text-align: center;
  font-size: 14px;
  word-spacing: 1px;
  text-transform: capitalize;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
