footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #001233;
  color: #fff;
  padding: 20px 0;
  border-top: 0.1em solid beige;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  z-index: 9999;
}

.footer-content {
  margin-bottom: 30px;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #FF595A;
  margin-bottom: 10px;
}

.footer-content p {
  max-width: 250px;
  margin: 0 auto;
  line-height: 25px;
  font-size: 14px;
  color: #cacdd2;
}

.footer-bottom {
  background: #FF595A;
  padding: 20px;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 1px;
  text-transform: capitalize;
  margin: 0;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
