* {
  box-sizing: border-box;
}

body{
  width: 800px;
  margin: auto;
}

container{
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

table{
  background-color: #001233;
  border: 3px solid #FF595A;
  text-align: center;
  border-radius: 3px;
}

.ramcek{
  background-color: #001233;
  border: 3px solid #FF595A;
  text-align: center;
  border-radius: 3px;
  margin: 2em;
  padding: 1em;
}

h3{
  color: beige;
}

p{
  color: beige;
  font-family:  Arial, Helvetica, sans-serif;
  text-align: left;
}

text{
  text-align: left;
  border-radius: 3px;
}

button {
  background: #FF4742;
  border: 1px solid #FF4742;
  box-sizing: border-box;
  color: beige;
  display: inline-block;
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  user-select: none;
  vertical-align: middle;
}

button:hover,
button:active {
  background-color: initial;
  color: #FF4742;
}

button:active {
  opacity: .5;
}
.right{
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.code-snippet {
  background-color: #f1f1f1;
  padding: 10px;
}

.code p {
  color: #080710;
  font-family: Consolas, monospace;
  font-size: 14px;
  line-height: 1.4;
  white-space: pre;
  overflow-x: auto;
}


