<body>
  <div class="container">
    <h1>Vitajte</h1>
    <div class="text">
      Táto stránka je určená pre uľahčenie prípravy na ústnu skúšku z Databázoviek 1<br>
      <br>Prosím berte na vedomie, že táto stránka Vám poždaované vedomosti pre úspešné absolvanie skúšky sama do hlavy nedá, iba Vám sprostredkúva potrebné informacie,
          podľa nás čo najľudskejším splsobom a pekne pokope.
      <br>Preto si sadnite, otvorte si tézy a proste sa začnite učiť!<br>
      <br>Nikto iný to za Vás robiť nebude  a verte nám, že sa musieť naučiť aj oveľa ťažšie veci.<br>
      <br>So želaním všetkého dobrého tvorcovia tejto stránky. Tím LaFla IT:  J. Lauko, L. Flašík a M. Ľalík
    </div>
  </div>
</body>
