<div class="container">
  <p class="invalid-text" *ngIf="form.controls.title.invalid">Zadajte názov knihy</p>
  <p class="invalid-text" *ngIf="form.controls.text.invalid">Zadajte meno autora</p>


  <form [formGroup]="form" (submit)="saveThese()">
    <label>
      <input type="text" placeholder="Nazov" formControlName="title">
    </label>

    <label>
      <input type="text" placeholder="Text" formControlName="Text">
    </label>

    <button class="submit-btn" type="submit" [disabled]="form.invalid">Ulozit</button>
  </form>
</div>
