* {
  box-sizing: border-box;
}

.logo{
  background: url("images/LaFLaIT.jpg");
  float: left;
  width: 73px;
  height: 75px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  padding: 10px 5px;
  text-align: center;
  display: block;
}
.text{
  text-decoration: none;
  float: left;
  display: inline-block;
  color: #FF595A;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: center;
}

.text h1{
  display: inline-block;
  font-size: xx-large;
}
.header button {
  float: contour;
  margin: 25px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: beige;
  text-align: center;
}

.header button:hover {
  text-decoration: underline;
}

.header button.active {
  color: #FF595A;
}

.button1 {
  background-color: #FF595A;
  color: #FF595A;
  border: 5px solid black;
  float: right;
}

@media screen and (max-width: 500px) {
  .header button {
    float: none;
    display: block;
    text-align: left;
  }

  .header-center {
    float: none;
  }
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #001233;
  height: auto;
  width: 100vw;
  padding-top: 0;
  color: #fff;
  border-top: 0.1em solid beige;
  border-radius: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 2.1rem;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 0.2rem;
  color: #FF595A;
}

.footer-content p{
  max-width: 150px;
  margin: 5px auto;
  line-height: 25px;
  font-size: 14px;
  color: #cacdd2;
}


.footer-bottom{
  background: #FF595A;
  width: 100vw;
  padding: 10px;
  border-top: 0.1em solid beige;
  text-align: center;
}

.footer-bottom p{
  float: contour;
  font-size: 14px;
  word-spacing: 1px;
  text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.footer button {
  float: contour;
  margin: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: beige;
  text-align: center;
}

.footer button:hover {
  text-decoration: underline;
}

.footer button.active {
  color: #FF595A;
}

@media (max-width:500px) {
  .footer-menu ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
