<div class="toolbar" role="banner">
  <span><img
    width="73"
    alt="LaFLaIT"
    src="images/LaFLaIT.jpg"
  /></span>
  <span class="nazov">LaFLaIT</span>
  <div class="header">
    <button>
      ÚVOD
    </button>
    <button>
      TÉZY
    </button>
  </div>

</div>

<div class="footer">
  <span class="nazov">LaFLaIT</span>
  <p>2023 © LaFLa IT  All rights reserved.</p>

</div>

<div class="footer-button">
  <div class="header">
  <button>
    ÚVOD
  </button>
  <button>
    TÉZY
  </button>
  </div>
</div>





