<div class="container">
  <div>
    <span>Téza č.:</span>
    <input [(ngModel)]="filterSearch">
    <button (click)="search()">Search</button>
    <button (click)="refresh()">Backup</button>
  </div>
    <div *ngFor="let thesis of theses">
      <div class="ramcek">
      <p>{{thesis.title}}</p>
      <p>{{thesis.description}}</p>
      <button (click)="getSectionByThesis(thesis.id)">SELECT</button>
      <button (click)="updateThesis(thesis.id)">
        Upraviť
      </button>
      </div>
    </div>
</div>
